html,
body {
    height: 100%;
    font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

p {
    line-height: 1.6;
}

.width-layout {
    // max-width: $max-width-layout;
    margin-right: auto;
    margin-left: auto;
}

.width-content {
    max-width: $max-width-content;
    margin-right: auto;
    margin-left: auto;
}


figure {
    img {
        max-width: 100%;
    }
}
